header {
  background-color: white;
  text-align: center;
  color: rosybrown;
  padding: 1% 1% 5% 1%;
  border: 10px solid peachpuff;
  font-family:Pacifico, sans-serif;
}
header a, article a {
  color: rosybrown;
  background-color: white;
  border: 5px solid peachpuff;
  padding: 5px 5px 5px 5px;
}
 a:hover {
  background-color: lightgrey;
}
body {
  cursor: url(../images/cinnamon-roll.jpg) 20 20, auto;
  background-color: rosybrown;
}
article { 
  font-family:sans-serif;
  font-size: 1.3rem;
  color: white;
  margin: 5% 0 5% 0;
}
.project-list {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4% 0;
}
.project-list figure {
  height: 200px;
  width: 200px;
  background-color: white;
  text-align: center;
  border: 8px solid peachpuff;
}
.project-list img {
  height: 70%;
  width: 70%;
  padding: 6% 10% 2% 10%;
}
article h3 {
  font-family: Pacifico, sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}
.title { 
  font-family: Pacifico, sans-serif;
  font-size: 1.5rem;
}
footer {
  background-color: white;
  color: rosybrown;
  padding: 3% 3% 1.5% 3%;
  border: 10px solid peachpuff;
  font-family: sans-serif;
}
.no-bullets {
  list-style: none;
}
.image-within-text {
  height: 25%;
  width: 18%;
  float: left;
  margin: 2%;
}
 figure a {
   border: 0;
}
