body {
  cursor: url(../images/movie-clicker.png) 20 20, auto;
  font-family: Oxygen, sans-serif;
}
header {
  background-color: darkred;
  text-align: center;
  color: white;
  padding: 1% 1% 5% 1%;
  border: 25px solid transparent;
  border-radius: 5px;
  
}
header h1 { padding: 0 0 2% 0;}
header ul { margin: 0 3.2% 0 0; }
header li { 
  list-style: none;
  display: inline;
  margin: 0 1%; 
}
header a, article a {
  color: #2B1596;
  background-color: white;
  border: 5px solid black;
  padding: 1%;
}

.homepage-article { 
  font-size: 1.3rem;
  color: white;
  margin: 0 0 5% 0;
}
.about-article { 
  font-size: 1.7rem;
  margin: 4% 10%;
  font-family: Oxygen, sans-serif;
  background-color: lightgrey;
  padding: 3%;
  border: 3px solid black;
  padding-bottom: 5%;
}
.curtain-back {  
  background-image: url(../images/curtain-back.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.project-list {
  padding: 0;
}
.project-list figure {
  width: 26%;
  padding-top: 3%;
  float: left;
  margin: 8% 0;
  margin-bottom: 10%;
  margin-left: 5.5%;
  text-align: center;
  border: 8px solid #B5B6BA;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-image: url(../images/glass.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix {
  clear: both;
}

.project-list img {
  width: 90%;
  height: 210px;
  border-radius: 2px;
}
.monoton { font-family: Monoton, sans-serif;}
article h3 {
  font-size: 6rem;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  padding: 15% 0 12% 0;
}
.title { 
  font-family: "Sigmar One", sans-serif;
  font-size: 2rem;
  background: white;
  color: black;
  border: 15px solid transparent;
  border-right: white;
  border-left: white;
  padding: 1% 0;
  text-align: center;
}
footer {
  background-color: darkred;
  font-size: 1.5rem;
}
.no-bullets {
  list-style: none;
}
.moni-pic {
  width: 25%;
  float: left;
  margin: 1.5% 2.5% 0 0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}


 figure a {
   border: 0;
   background-color: transparent;
}
li figure:hover {
-webkit-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 179, 0.85);
-moz-box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 179, 0.85);
box-shadow: inset 0px 0px 30px 0px rgba(255, 255, 179, 0.85);
}

.borderlights { 
  border-image: url(../images/movie-borders.png) 100 round; 
}
.black-back {
  background-color: black;
  padding: 1%;
  color: white;
}
.black-back a { 
  color: white;
  padding: 1%;
  
}

.copyright { 
  float: right;
  color: white;
  display: inline;
  margin-right: 2%;
}
.black-text { color: black;}

.icon-box {
  text-align: center;
  padding: 2.5%;
}

.social-icon { 
  color: white;
  background-color: black;
  padding: 3%;
  border: 0.5px solid black;
  border-radius: 3px; 
  font-size: 5rem;
  margin: 0 5%;
}
.social-icon:hover { color: rgba(255, 255, 150, 1) ; }
  

.project-container {
  width: 85%;
  margin: auto;
  background-color: white;
  border: 15px solid black;
  padding-bottom: 43%;
  background-image: url(../images/spotlight.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.popcorn {
  height: 11.8rem;
  background-image: url(../images/poppin.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: center;
}

figure a {
  color: black;
  font-size: 2rem;
  font-family: 'Cinzel', serif;
}

figcaption {
  padding: 6%;
}

.spotlight {
  background-image: url(../images/spotlight.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

.white-top {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.hobbies{
  padding: 3%;
}

.experience {
  float: left;
  padding: 2%;
  margin-left: 13%;
  padding-bottom: 3%;
}

.learning {
  float: right;
  padding: 2%;
  margin-right: 7%;
  padding-bottom: 3%;
}

.about-article h4 {
  font-weight: bolder;
  font-size: 2.1rem;
}

.fancy-bullet {
  list-style-type:square;
  font-size: 1.8rem;
}

.learning li {
  padding: 4% 0;
}

.experience li {
 padding:1% 0; 
  
}

.contact {
  width: 80%;
  padding: 3%; 
  margin:auto;
  text-align: center;
  font-size: 2rem;
  
}

.email-link {
  background-color: transparent;
  border: none;
  font-size: 2.2rem;
  font-weight: bold;
}

/*Phones up to iphone 6 plus*/
@media (max-width: 549px) {
  h1, header h3 {
    display: none;
    
  }
  .showing {
    font-size: 4rem;
    padding-left: 15%;
    padding-right: 15%;
    
  }
  header {
    width:100%;
    border: 10px;
    padding-bottom: 1%;
    position: fixed;
    left: -0.3%;
    z-index: 500;
  }
  .about-article, .homepage-article {
    position: relative;
    top: 100px; 
    width: 100%;
    margin: auto;
  }
  
  html {
  width: 100%;  
  }
  /*Hamburger Menu*/
  .ham-btn {
  border: none;
  background-color: inherit;
  margin: 0;
  border-radius: 5px;
  float: left;
  padding-top: 2.5%;
  padding-bottom: 2.5%; 
  }

  .ham-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: -85px;
  min-width: 160px;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: darkred;
  padding-bottom: 3%;
  }

  .ham-menu li:last-child{
    border-bottom: none; 
  }

  .ham-menu li {
    padding: 5%;
    list-style: none;
    border-bottom: 2px solid black;
    display: block;
    }

  .ham-menu a {
    text-decoration: none;
    display: block;
    padding: 5%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;

    }

  .ham-menu li:hover {
    background-color: cornflowerblue;
    }

  .ham-title {
    float: right;
    padding-right: 6%;
    margin: 0;
    padding-top: 4.25%;
    
  }
  .drop-down {
    position: relative;
    left: -40%;
    display: inline;
    }

    footer {
      position: relative;
      top: 100px;
      margin-top: 1%;
  }
    .social-icon {
      font-size: 4rem;
      margin: 4%;
    }

    header nav h3 {
      display: inline; 
      font-size: 3rem;
    }

    li.nohover:hover {
      background-color: darkred;
    }

    .homepage-article {
      background-image: none;
      background-color: black;
      padding-bottom: 170%;
    }

    .project-list figure {
      width: 100%;  
      margin: auto;
      margin-bottom: 30%;
    }

    .project-list figure img{
      height: 250px;
    }

    .project-container {
      background-image: none;
      background-color: black;
      padding-bottom: 180%;
    }
  
    .learning, .experience {
      margin: 0;
      margin: auto;
      width: 100%;
      padding-left: 29%;
    }
    
  }

@media (min-width: 550px) and (max-width: 850px) {
  .ham-btn, header h3, .ham-title {
    display: none;
  }
  
  .project-container {
    width: 95%; 
    padding-bottom: 220%;
    background-size: auto;
    background-repeat:no-repeat;
    background-color: black;
    background-position: bottom;
  }
  
  .project-list figure {
    width: 50%;
    margin-left: 25%;
  }
  
  .project-list figure img {
    height: 230px; 
    
  }
  
  .social-icon {
      font-size: 4rem;
      margin: 4%;
    }
  
  .homepage-article {
    
  }
  
  .learning, .experience {
      margin: 0;
      margin: auto;
      width: 100%;
      padding-left: 29%;
    }
}

@media (min-width: 851px) {
  .ham-btn, .ham-menu h3, .ham-title {
    display: none;
  }
  
  .project-container {
    padding-bottom: 50%; 
    
  }
  
  
}